header {
    display: grid;
    grid-template-rows:  3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    background-image: url(img/background-image.jpg);
    /*background-repeat: repeat-y;*/
    border: 1px solid red;
}
p, a, h1, h2, h3, li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*наугад поставил, вообще не понимаю пока что тут:)*/
    font-weight: 800;
}
.Title p,
.Title h1{
    text-align: center;
    margin-top: 2em;
}
nav {
  grid-row-start: 2; 
  grid-row-end: 2; 
  grid-column-start: 2;   
  grid-column-end: 2; 
  text-align: center;
}
nav div {
    display: inline-block;
    background-color: grey;
    padding: 0;
    border: 1px solid orange;
    border-radius: 3px;
    margin-left: 1em;
}
.Logo-container {
  grid-row-start: 1; 
  grid-row-end: 1; 
  grid-column-start: 1;   
  grid-column-end: 1; 
  margin-left: 5em;
  margin-top: 3em;
}
.Page-title {
    grid-row-start: 1; 
    grid-row-end: 1; 
    grid-column-start: 2;   
    grid-column-end: 2; 
    vertical-align: 50%;
}
.Contacts {
    grid-row-start: 1; 
    grid-row-end: 1; 
    grid-column-start: 3;   
    grid-column-end: 3; 
    margin-right: 3em;
    margin-top: 4em;
}
.Telephone-number {
    color:black;
}
.Telephone-number:hover {
    color:sandybrown;
}
.Button-up {
    position:fixed;
    bottom:5%;
    right:8%;
    opacity: 50%;
}
.Button-up:hover {
    opacity: 100%;
}
.Harmony {
    background-color: white;
}


#Why-to-come {
    display: block;
    height: 500px;
    border: 1px solid orange;
}

nav a { /*ссылки в навигационном меню*/
    color: auto;
    margin: 0;
    text-decoration: none;
}
nav a:hover { 
    color: darkgreen;
    background-color: peru;
}
nav a:active { 
    color: orangered;
}
.Harmony {
    text-align: center;
    border: 1px solid orange;
}
.Harmony div {
    display: inline-block;
    margin-left: 5em;
}
.Harmony-div-text {
    font-weight: 200;
}
.Necessity {
    text-align: center;
    background-color: darkslategrey;
    padding: 2em;
    color: white;
}
.Necessity > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: top;
    border: 1px solid cyan;
    padding: 2em;
}

.Necessity div div {
    display: inline-block;
}
.Necessity ul {
    margin: 0px;
    text-align: left;
    font-size: 1.5em;
}
#About-me {
    text-align: center;
    margin-left: 2em;
    border: 2px solid orangered;
    height: auto;
}
#About-me h2 {
    margin-left: 3em;
    text-align: left;
}
#About-me div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
#About-me div div {
    display: inline-block;
    text-align: top;
}
#About-me ul{
    word-wrap: break-word;
    text-align: left;
}
.Photo-block {
    text-align: center;
}
.Diplomas {
    text-align: center;
}
.Diplomas h2 {
    border: 1px solid orange;
    padding: 1em;
    margin-left: 5%;
    width: 80%;
}
.Diplomas img {
    width: 40%;
    height: auto;
}
#For-who {
    display: block;
    border: 1px solid orange;
}
#For-who h2 {
    text-align: center;
}
#For-who > div{
    display: grid;
    grid-template-rows:  1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 4em;
    grid-row-gap: 2em;
    border: 1px solid black;
    
}
.For-who-div {
    border: 1px solid orange;
    padding-left: 1em;
    text-align: center;
    vertical-align: middle;
}
#For-who div:nth-child(1) {
    grid-row-start: 1; 
    grid-row-end: 1; 
    grid-column-start: 1;   
    grid-column-end: 3; 
}
#For-who div:nth-child(2) {
    grid-row-start: 1; 
    grid-row-end: 1; 
    grid-column-start: 3;   
    grid-column-end: 5; 
}
#For-who div:nth-child(3) {
    grid-row-start: 1; 
    grid-row-end: 1; 
    grid-column-start: 5;   
    grid-column-end: 6; 
}
#For-who div:nth-child(4) {
    grid-row-start: 2; 
    grid-row-end: 2; 
    grid-column-start: 2;   
    grid-column-end: 3; 
}
#For-who div:nth-child(5) {
    grid-row-start: 2; 
    grid-row-end: 2; 
    grid-column-start: 4;   
    grid-column-end: 5; 
}
#Why-to-come {
    display: block;
    height: 500px;
    border: 1px solid orange;
    background-image: url(img/Stones.jpg);
}
#Why-to-come h2, #Why-to-come p {
text-align: center;
}
#Why-to-come div {
    border: 1px solid white;
    
}
.Start-now {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; 
    margin: 5em 0em 5em 0em;
    padding: 2em;
}
.Start-now > div {
    background-color: darkslateblue;
    
    grid-column-start: 2;
    grid-column-end: 2;
}
.Start-now p,
.Start-now img {
    display: inline-block;
    vertical-align: top;
    margin-top: 1em;
}
.Round-photo {
    border-radius: 50%;
    width: 200px;
    height: 210px;
    margin: 0em 1em 1em 1em;
}
#Schedule {
    display: block;
    text-align: center;
}
#Price-list {
    display: block;
    border: 1px solid orange;
    text-align: center;
}
.How-to-find {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}
.How-to-find h2 {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
}
.Yandex {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 5em;
}
.Contacts-bottom {
    text-align:left;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
}